<div class="jumbotron center">
	<% if user_signed_in? %>
		<h2>Status</h2>
		<% if current_user.reinvest_btc %>
			<%= link_to "Reinvesting BTC", toggle_reinvest_btc_path, method: :put, class: "btn btn-success btn-lg" %>
		<% else %>
			<%= link_to "Not Reinvesting BTC", toggle_reinvest_btc_path, method: :put, class: "btn btn-danger btn-lg" %>
		<% end %>
		<% if current_user.reinvest_nmc %>
			<%= link_to "Reinvesting NMC", toggle_reinvest_nmc_path, method: :put, class: "btn btn-success btn-lg" %>
		<% else %>
			<%= link_to "Not Reinvesting NMC", toggle_reinvest_nmc_path, method: :put, class: "btn btn-danger btn-lg" %>
		<% end %>

		<br/>
		<br/>
		<h2>Recent Orders</h2>

		<div class="center">
		  <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
		</div>

		<table class="table">
		  <thead>
		    <tr>
		      <th>Time</th>
		      <th>Currency</th>
		      <th>Unit price</th>
		      <th>Volume</th>
		      <th>Total price</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @orders.each do |order| %>
		      <tr>
		        <td><%= order.created_at.to_formatted_s(:db) %></td>
		        <td><%= order.currency %></td>
		        <td><%= number_with_precision(order.unit_price, precision: 8) %></td>
		        <td><%= number_with_precision(order.volume, precision: 8) %></td>
		        <td><%= number_with_precision(order.total_price, precision: 8) %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

	<% else %>
		<h1>Welcome to Lazy cex.io</h1>
		<h2>Automatically reinvest your cex.io profits into more GHS</h2>
		<br/>
		<br/>
		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% end %>
</div>