<% if user_signed_in? %>
	<div class="row">
    <div class="col-md-3">
    	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Status</h3>
			  </div>
			  <div class="panel-body">
			  	<div>
				    <% if current_user.reinvest_btc %>
							<%= link_to "Reinvesting BTC", toggle_reinvest_btc_path, method: :put, class: "btn btn-success btn-lg btn-block" %>
						<% else %>
							<%= link_to "Not Reinvesting BTC", toggle_reinvest_btc_path, method: :put, class: "btn btn-danger btn-lg btn-block" %>
						<% end %>
					</div>
					<br/>
			  	<div>
						<% if current_user.reinvest_nmc %>
							<%= link_to "Reinvesting NMC", toggle_reinvest_nmc_path, method: :put, class: "btn btn-success btn-lg btn-block" %>
						<% else %>
							<%= link_to "Not Reinvesting NMC", toggle_reinvest_nmc_path, method: :put, class: "btn btn-danger btn-lg btn-block" %>
						<% end %>
					</div>
			  </div>
			</div>
    	<div class="panel panel-default">
			  <div class="panel-body">
			   	<p><%= @day_volume %> GHS bought in last 24hrs</p>
			   	<p><%= @week_volume %> GHS bought in last week</p>
			   	<p><%= @month_volume %> GHS bought in last month</p>
			   	<p><%= @all_volume %> GHS bought total</p>
			  </div>
			</div>
    </div>
    <div class="col-md-9">
    	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Trade History</h3>
			  </div>
			  <div class="panel-body">
					<div class="center">
					  <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
					</div>

					<table class="table">
					  <thead>
					    <tr>
					      <th>Time</th>
					      <th>Currency</th>
					      <th>Unit price</th>
					      <th>Volume</th>
					      <th>Total price</th>
					    </tr>
					  </thead>

					  <tbody>
					    <% @orders.each do |order| %>
					      <tr>
					        <td><%= order.created_at.to_formatted_s(:db) %></td>
					        <td><%= order.currency %></td>
					        <td><%= number_with_precision(order.unit_price, precision: 8) %></td>
					        <td><%= number_with_precision(order.volume, precision: 8) %></td>
					        <td><%= number_with_precision(order.total_price, precision: 8) %></td>
					      </tr>
					    <% end %>
					  </tbody>
					</table>
			  </div>
			</div>
    </div>
  </div>
<% else %>
	<div class="jumbotron center">
		<h1>cex.io Auto Reinvestor</h1>
		<p>Automatically reinvest your cex.io profits into more GHS</p>
		<div>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</div>
	</div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Auto-reinvest</h3>
					</div>
					<div class="panel-body">
						<p>Just sign-up, enter your cex.io API keys and you're done! Every hour it checks to see if you've earned any BTC/NMC and orders more GHS</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>BTC and NMC</h3>
					</div>
					<div class="panel-body">
						<p>You can enable it to reinvest both BTC and NMC in more GHS</p>
						<br class=""/>
						<br class=""/>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3>Trade Logging</h3>
					</div>
					<div class="panel-body">
						<p>All reinvestments are logged so you can sit and watch your GHS grow</p>
						<br class=""/>
						<br class=""/>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>